body {
    background-color:whitesmoke;
    margin: 2em auto;
    text-align: center;
}

header, section {
    background-color:lightgray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    
}

#e, #g {
    border-right: none;
}

footer {
    background-color:lightgray;
    border: 1px solid gray;
}
