body {
    background-color:whitesmoke;
    margin: 2em auto;
    text-align: center;
}

header, section, footer {
    background-color:lightgray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  
};

#e, #g{
    border-right: 0px;
};


footer {
    border-bottom: 1px solid gray;
};