


header, section, #blocks, aside{
    width: 480px;
    height: 75px;
}

aside {
    height: 150px;
}

#c, #d {
    height: 125px;
}


.block {
    
    float: left;
    width: 240px;
    height: 250px;
}

footer {
    width: 480px;
    height: 80px;
    margin-top: 425px;
}

