header, section, #blocks, footer{
    width: 480px;
    height: 75px;
    margin: 0px auto;
}

section {
    height: 150px;
}

p {
margin-top: 3em;
}

#blocks p {
    margin-top: 6em;

}

#e, #f, #g, #h {
    
    float: left;
    width: 238px;
    height: 250px;

}

footer {
    height: 80px;
    margin-top: 427px;
}

footer p, header p{
    margin-top: 2em;
}
