/* State changes for screen 768-960 and larger */

@media screen and (min-width: 768px){

    .block {
        width: 190px;
        height: 250px;
    }

        
    body, header, section,footer {
        width: 960px;
        color: black
    }

    main {
        width: 962px;
    }

    header {
        height: 100px;
    }
    
    aside {
        float: left;
        width: 200px;
        height: 600px;
    }
        
    #c, #d {
        width: 380px;
        height: 200px;
    }

    #c {
        float: left;
    }

    #d {
        float: left;

    }

    #d ::after {
        clear: left;
    }

    #blocks {
        width: 960px;
        height: 250px;
    }

    #h {
        width: 190px;
    }
    footer {
        float: right;
        width: 760px;
        height: 150px;
        margin-top: 0px;
        margin-bottom: 2em;

    }


};